<footer class="mt-5 py-4 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="mb-3">Pizzeria Deliziosa</h5>
        <p>Authentic Italian pizza made with love and the finest ingredients.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="mb-3">Opening Hours</h5>
        <p>Monday - Friday: 11:00 - 22:00</p>
        <p>Saturday - Sunday: 12:00 - 23:00</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="mb-3">Contact</h5>
        <p><mat-icon class="me-2" inline>location_on</mat-icon>123 Pizza Street, Tasty City</p>
        <p><mat-icon class="me-2" inline>phone</mat-icon>+1 234-567-8901</p>
        <p><mat-icon class="me-2" inline>email</mat-icon>info&#64;pizzeriadeliziosa.com</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>&copy; {{currentYear}} Pizzeria Deliziosa. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a routerLink="/about" class="text-white me-3">About Us</a>
        <a routerLink="/contact" class="text-white me-3">Contact</a>
        <a routerLink="/menu" class="text-white">Menu</a>
      </div>
    </div>
  </div>
</footer>
